# Ignore virtual environment
.venv/

# Ignore migrations and __pycache__ directories in all Django apps
*/migrations/
*/__pycache__/

# Ignore VS Code directory
.vscode/

# Ignore all .pyc files
*.pyc

# It is also a good practice to ignore the media and static folders 
# which are generated when you collect static files or when files are uploaded to the app 
media/
static/

# Ignore database file if you're using SQLite
db.sqlite3

# ignore FakeDataStorage folder
FakeDataStorage/
*/FakeDataStorage/

.env
.env/